*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 300px;
    background-image: url(../../Downloads/earth2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding-bottom: 55px;
    font-size: 100px;
}
#locationInput{
    padding: 10px;
    border-radius: 5px;
    text-align-last: left;
    font-size: 20px;
}
#searchButton{
    margin: 18px;
    padding: 10px;
    border-radius: 29px;
    text-align: center;
    color: white;
    background-color: rgb(166, 246, 5);
}
#searchButton:hover{
    color: black;
    background-color: white;
}
.weather-info{
    font-size: 25px;
}
@media (max-width: 600px) {
    body {
        margin: 50px 20px;
    }

    h1 {
        font-size: 40px;
        padding-bottom: 30px;
        color: white;                                          ;
    }

    #locationInput {
        font-size: 16px;
        width: 80%;
    }

    #searchButton {
        padding: 10px;
        font-size: 16px;
    }

    .weather-info {
        font-size: 180px;
    }
}
@media (max-width: 1024px) {
    body {
        margin: 150px 50px;
    }

    h1 {
        font-size: 55px;
        color: white;
    }

    #locationInput {
        font-size: 18px;
        width: 70%;
    }

    #searchButton {
        font-size: 50px;
        padding: 120px;
    }

    .weather-info {
        font-size: 220px;
    }
}